@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {

    --color-primary: rgba(242, 92, 0);
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/*dark theme*/
.dark-theme-variables {

    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.8);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--color-dark);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    background: var(--color-primary);
    /* creates padding around scroll thumb */
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {

    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);

}

.container {

    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {

    display: block;
    width: 100%;
}

h1 {

    font-weight: 8000;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {

    font-size: 0.87rem;
}

h4 {

    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {

    font-size: 0.75rem;
}

.profile-photo {

    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {

    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.danger:hover{
    transition: 0.5s;
    color: black;
}

aside {

    height: 100vh;
}

.prato{
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
    margin-left: 25%;
}

aside .top {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    position: fixed;
}

aside .logo {

    display: flex;
    gap: 0.8rem;
}

aside .logo img {

    height: 2rem;
}

aside .close {
    display: none;
}

/*=============== side bar ===============*/
aside .sidebar {

    display: flex;
    flex-direction: column;
    height: 86vh;
    position: fixed;
    top: 8rem;
}

aside h3 {

    font-weight: 500;
}

aside .sidebar a {

    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {

    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {

    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {

    color: var(--color-dark);
    margin-left: 0;
}

aside .sidebar a.active:before {

    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {

    color: var(--color-dark);
    margin-left: calc(1rem -3px);
}

aside .sidebar a:hover,
aside .sidebar a.active span:hover {

    color: var(--color-primary);
}

aside .sidebar a:hover span {

    margin-left: 1rem;
}

aside .sidebar .message-count {

    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/*============ main ============*/


main {

    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {

    background: transparent;
    color: var(--color-dark);
}

main .curve_chart{
    width: 100%;
}

main .columnchart_material{
    width: 100%;
    padding: 0;
}

/*graficos*/
main .insi {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

main .insi>div {

    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insi>div:hover {

    box-shadow: none;
}





/*insights*/
main .insights {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights>div {

    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {

    box-shadow: none;
}

main .insights>div span {

    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights>div.expenses span {

    background: var(--color-danger);
}

main .insights>div.income span {

    background: var(--color-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {

    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {

    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {

    width: 7rem;
    height: 7rem;
}

main .insights svg circle {

    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {

    stroke-dashoffset: -30;
    stroke-dasharray: 200;

}

main .insights .expenses svg circle {

    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle {

    stroke-dashoffset: -0;
    stroke-dasharray: 200;
}

main .insights .progress .number {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {

    margin-top: 1.3rem;
    display: block;
}

/*============ recent orders ============*/

main .recent-orders {

    margin: 2rem;
}

main .recent-orders h2 {

    margin-bottom: 0.8rem;
}

main .recent-orders table {

    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table:hover {

    box-shadow: none;
}

main table tbody td {

    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);

}

main table tr:last-child td {

    border: none;
}


main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--border-radius-1);

}

/* ================ right ================*/

.right {

    margin-top: 1.4rem;
}

.right .top {


    display: flex;
    justify-content: end;
    gap: 2rem;

}

.right .top button {

    display: none;
}

.right .theme-toggler {

    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);

}

.right .theme-toggler span {

    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {

    display: flex;
    gap: 2rem;
    text-align: right;
}

/* ============ recent updates ============*/

.right .recent-updates {

    margin-top: 1rem;
}

.right .recent-updates h2 {

    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {

    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {

    box-shadow: none;
}

.right .recent-updates .updates .update {

    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*================= Sales analytics =================*/

.right .sales-analytics {

    margin-top: 2rem;
}

.right .sales-analytics h2 {

    margin-bottom: 0.8rem;
}

.right .sales-analytics .item {

    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {

    box-shadow: none;
}

.right .sales-analytics .item .right {

    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {

    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item.offline .icon {

    background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {

    background: var(--color-success);
}

.right .sales-analytics .add-product {

    background: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sales-analytics .add-product div {

    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .sales-analytics .add-product div h3 {

    font-weight: 600;
}

/*Forms Casdastro*/

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    color: var(--color-dark-variant);
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#containerForm,
#containerRight,
#containerMesas,
#containerHour,
#containerAlt {
    border: solid 3px var(--color-dark);
    max-width: 768px;
    margin: 60px auto;
    position: relative;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

h1 {
    color: var(--color-dark-variant);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

.underline {
    border-bottom: 5px solid var(--color-dark-variant);
    margin: -0.512em auto;
    width: 80px;
}

.icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
}

.email {
    float: right;
    width: 45%;
}

input[type=time] {
    border: none;
    color: var(--color-dark);
    font-size: 14px;
    font-family: helvetica;
    width: 160px;
    background: transparent;
  }
  
  /* Wrapper around the hour, minute, second, and am/pm fields as well as 
  the up and down buttons and the 'X' button */
  input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
  }
  
  /* The space between the fields - between hour and minute, the minute and 
  second, second and am/pm */
  input[type=time]::-webkit-datetime-edit-text {
    padding: 19px 4px;
  }
  
  /* The naming convention for the hour, minute, second, and am/pm field is
  `-webkit-datetime-edit-{field}-field` */
  
  /* Hour */
  input[type=time]::-webkit-datetime-edit-hour-field {
    border-radius: 15%;
    padding: 19px 13px;
  }
  
  /* Minute */
  input[type=time]::-webkit-datetime-edit-minute-field {
    border-radius: 15%;
    padding: 19px 13px;
  }
  
  /* AM/PM */
  input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #7155d3;
    border-radius: 15%;
    padding: 19px 13px;
  }
  
  /* 'X' button for resetting/clearing time */
  input[type=time]::-webkit-clear-button {
    display: none;
  }
  
  /* Up/Down arrows for incrementing/decrementing the value */
  input[type=time]::-webkit-inner-spin-button {
    display: none;
  }

  

input[type='text'],
[type='email'],
[type='password'],
[type='file'],
input[type="number"],
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px var(--color-primary);
    color: var(--color-dark);
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


select {
    background: none;
    border: none;
    border-bottom: solid 2px var(--color-primary);
    color: var(--color-primary);
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

[type='text'],
[type='email'],
[type='number'],
[type='password'],
[type='file']:focus,
textarea:focus
 {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

.nameFull {
    float: left;
    width: 100%;
}

.nameCat {

    width: 65%;
}


select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: var(--color-primary);
}

:-moz-placeholder {
    color: var(--color-primary);
    opacity: 1;
}

::-moz-placeholder {
    color: var(--color-primary);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--color-primary);
}

#form_button {
    background: none;
    border: solid 2px #474544;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: var(--color-primary);
    color: #F2F3EB;
}

#res_button {
    background: none;
    border: solid 2px #474544;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 10px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#res_button:hover {
    background: var(--color-primary);
    color: #F2F3EB;
}

  
  /* DROPDOWN */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 250px;
    min-height: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
    padding: 1%;
    margin-left: -1%;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: transparent;
      transition: 0.5s;
      z-index: 2;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: inline-block;
  }
  
  /* DROPDOWN restaurante */
  .dropdownRes {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-contentRes {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 250px;
    min-height: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-contentRes a:hover {
      background-color: transparent;
      transition: 0.5s;
      z-index: 2;
}
  
  /* Show the dropdown menu on hover */
  .dropdownRes:hover .dropdown-contentRes {
    display: inline-block;
  }
  
  tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

/*modal*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.heading {
  font-size: 1.5em;
  margin-bottom: 12px;
  color: var(--color-dark);
}

.card {
  background: var(--color-background);
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.18);
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 40px;
  max-width: 400px;
  width: 100%;
}

.content-wrapper {
  font-size: 1.1em;
  margin-bottom: 44px;
}
.content-wrapper:last-child {
  margin-bottom: 0;
}

.button {
  align-items: center;
  background: var(--color-background);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  width: 150px;
}
.button:focus {
  border: 2px solid transparent;
  box-shadow: 0px 0px 0px 2px #121943;
  outline: solid 4px transparent;
}

.link {
  color: #121943;
}
.link:focus {
  box-shadow: 0px 0px 0px 2px #121943;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper .label {
  align-items: baseline;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 8px;
}
.input-wrapper .optional {
  color: #5a72b5;
  font-size: 0.9em;
}
.input-wrapper .input {
  border: 1px solid #5a72b5;
  border-radius: 4px;
  height: 40px;
  padding: 8px;
}

code {
  background: #e5efe9;
  border: 1px solid #5a72b5;
  border-radius: 4px;
  padding: 2px 4px;
}

.modal-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 16px;
  text-decoration: none;
  width: 16px;
}
.close svg {
  width: 16px;
}

.modal-wrapper {
  align-items: center;
  background: rgba(0, 0, 0, 0.50);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#modalInput,
#modal {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  visibility: hidden;
}

#modalInput:target,
#modal:target {
  opacity: 1;
  visibility: visible;
}
#modalInput:target .modal-body,
#modal:target .modal-body {
  opacity: 1;
  transform: translateY(1);
}

#modalInput .modal-body,
#modal .modal-body {
  max-width: 500px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.25s ease-in-out;
  width: 100%;
  z-index: 1;
}

.outside-trigger {
  bottom: 0;
  cursor: default;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.button__link {
  text-decoration: none;
}

.button-center{
    display: flex;
    margin-top: 25px;
    gap: 1rem;
}

.central{

    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
/*toast*/

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #imgToast{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}
/*table*/
.containerNoti {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	font-size: 26px;
	margin: 20px 0;
	text-align: center;
}

h2 small {
	font-size: 0.5em;
}

.responsive-table li {
	border-radius: 3px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.responsive-table .table-header {
	background-color: #95a5a6;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

.responsive-table .table-row {
	background-color: var(--color-background);
	box-shadow: 0px 0px 9px 0px var(--color-light);
}

.responsive-table .col-1 {
	flex-basis: 20%;
}

.responsive-table .col-2 {
	flex-basis: max-content;
}

.responsive-table .col-3 {
	flex-basis: max-content;
}

.responsive-table .col-4 {
	flex-basis: 25%;
}

@media all and (max-width: 767px) {
	.responsive-table .table-header {
		display: none;
	}

	.responsive-table li {
		display: block;
	}

	.responsive-table .col {
		flex-basis: 100%;
	}

	.responsive-table .col {
		display: flex;
		padding: 10px 0;
	}

	.responsive-table .col:before {
		color: #6c7a89;
		padding-right: 10px;
		content: attr(data-label);
		flex-basis: 50%;
		text-align: right;
	}
}
/* ================ media queries ==================*/


@media screen and (max-width: 1440px) {

    .prato{
        width: 5.8rem;
        height: 5.8rem;
        border-radius: 50%;
        margin-left: 1%;
    }



    main .insi,
    main .insights {

        display:block;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
    }
}

@media screen and (max-width: 1200px) {


    .prato{
        width: 5.8rem;
        height: 5.8rem;
        border-radius: 50%;
        margin-left: 35%;
    }

    .container {

        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {

        display: none;
    }

    aside .sidebar h3 {

        display: none;
    }

    aside .sidebar a {

        width: 5.6rem;
    }

    aside .sidebar .dropdown-contentRes  a{
        
        content: "";
        width: 6px;
        background: var(--color-primary);
    }

    aside .sidebar .dropdown-contentRes  a.active::before{
        
        content: "";
        width: 10px;
        background: var(--color-primary);
    }

    aside .sidebar .dropdown-contentRes  h3{
        
        display: flex;
    }

    aside .sidebar .dropdown-content  a{
        
        content: "";
        width: 6px;
        background: var(--color-primary);
    }

    aside .sidebar .dropdown-content  a.active::before{
        
        content: "";
        width: 10px;
        background: var(--color-primary);
    }

    aside .sidebar .dropdown-content  h3{
        
        display: flex;
    }

    aside .sidebar a:last-child {

        position: relative;
        margin-top: 1.8rem;
    }

    main .insi,
    main .insights {

        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders {

        width: 80%;
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table {
        width: 83vw;
    }

    h1 {
        margin-top: 10%;
        font-size: 26px;
    }

    #containerAlt{
        margin: 20px auto;
        width: 95%;
       margin-top: 70%;
    }

    #containerHour{
        margin: 20px auto;
        width: 95%;
       margin-top: 110%;
    }

    #containerMesas {
        margin: 20px auto;
        width: 95%;
       margin-top: 50%;
    }

    #containerRight{
        margin: 20px auto;
        width: 95%;
       margin-top:220%;
    }
}

/*====================== media queries ======================*/
@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .prato{
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
    }

    aside {

        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100%;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {

        margin-left: 1rem;
    }

    aside .logo h2 {

        display: inline;
    }

    aside .sidebar h3 {

        display: inline;
    }

    aside .sidebar a {

        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {

        position: absolute;
        bottom: 5rem;
    }

    aside .close {

        display: inline-block;
        cursor: pointer;
    }

    main {

        margin-top: 8rem;   
    }

    main .insi,
    main .insights>div {

        width: 100%;
        text-align:-webkit-center;
    }

    main .recent-orders {

        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
        left: 50%;
    }

    main .recent-orders table {

        width: 100%;
        margin: 0;
    }

    .right {

        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {

        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .recent-updates .updates{
        display: grid;
        gap: 1.5rem;
    }
    /*.right .recent-updates .updates{
        display: flex;
        gap: 1.5rem;
    }*/
    .right .top .theme-toggler {

        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {

        display: none;
    }

    .right .top button {

        display: inline-block;
        background: transparent;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
        cursor: pointer;
    }

    .right .top button span {

        font-size: 2rem;
    }

    #containerForm,
    #containerHour,
    #containerMesas,
    #containerRight,
    #containerAlt
     {
        margin: 20px auto;
        width: 95%;
    }
}
  
@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 53px;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }

    #colucolumnchart_material{
        width: 600px;
    }
}

@media screen and (max-width: 425px) {

    .prato{
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        margin-left: 1%;
    }
}